<div class="search-ct">
    <button type="button" class="btn btn-sm dropdown-toggle search-type-btn" data-toggle="dropdown">
        --Word--
    </button>
    <ul class="dropdown-menu choose-type-dropdown" role="menu">
        <li><a href="w">Word</a></li>
        <li><a href="t">Topic</a></li>
        <li><a href="m">Mean</a></li>
    </ul>     
    <input type="text" class="form-control" name="search" placeholder="Search term...">
    <a name="search" href="/word?type=w" id="word-search" class="btn btn-sm" type="button">Search</a>
</div>