<div class="container-fluid form-content">
    <h2>Login</h2>
    <form method="POST" action="login/process" name="login-form">
        <div class="form-group">
          <label for="Username">Username</label>
          <input name="username" type="text" class="form-control" id="Username" placeholder="Password">
        </div>
        <div class="password-input">
          <label for="exampleInputPassword1">Password</label>
          <input id="pw" name="password" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="login-register">
          <a href="/register">Chưa có tài khoản?</a>
        </div>
        <button name="submit" value="submited" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>