<div class="ad-createWord form-content">
    <h2>Create Word</h2>
    <form method="POST" action="/word/store" name="form-create-word">
        <div class="form-group">
            <label for="ad-word-topic">Topic</label>
            <input name="topic" type="text" class="form-control" id="ad-word-topic" placeholder="Enter word">
        </div>
        <div class="form-group">
            <label for="ad-word-word">Word</label>
            <input name="word" type="text" class="form-control" id="ad-word-word" placeholder="Enter word">
        </div>
        <div class="form-group">
            <label for="ad-word-description">Description</label>
            <input name="description" type="text" class="form-control" id="ad-word-description" placeholder="Enter the description">
        </div>
        <div class="form-group">
            <label for="ad-word-mean">mean</label>
            <input name="mean" type="text" class="form-control" id="ad-word-mean" placeholder="Enter the mean">
        </div>
        <div class="form-group">
            <label for="">Image link</label>
            <input name="image" type="text" class="form-control" id="ad-word-link" placeholder="Enter the image link">
        </div>
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>