<div class="ad-createAnime form-content">
    <h2>Update Anime</h2>
    <form name="updateAnime" method="POST" action="/admin/<%= anime._id %>/update-anime?_method=PUT">
        <div class="form-group">
            <label for="ad-anime-name">Name</label>
            <input name="name" type="text" value="<%= anime.name %>" class="form-control" placeholder="Enter anime name">
        </div>
        <div class="form-group">
            <label for="ad-anime-description">Description</label>
            <textarea name="description" type="text" class="form-control" id="ad-anime-description" placeholder="Enter the description"><%= anime.description %></textarea>
        </div>
        <div class="form-group">
            <label for="">Anime Link</label>
            <input name="image" type="text" class="form-control" value="<%= anime.image %>" id="ad-anime-link" placeholder="Enter the description">
        </div>
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>