<div class="container-fluid form-content">
    <h2>Register</h2>
    <form method="POST" action="register/process" name="register-form">
        <div class="form-group">
          <label for="fullname">Full Name </label>
          <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Full name">
        </div>
        <div class="form-group">
          <label for="Username">Username</label>
          <input name="username" type="text" class="form-control" id="Username" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button name="submit" value="submited" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>