<div class="anime-content container-fluid">

</div>

<script type="text/babel">
    class Image extends React.Component {
        render() {
            return (
                <img src={this.props.link} alt="error image" class="card-img-top" />
            );
        }
    }
    class AnimeCards extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                isLoaded: false,
                animes: []
            }
        }
        componentDidMount() {
            fetch('/json-data/anime')
                .then(res => res.json())
                .then(result => {
                    this.setState({
                        isLoaded: true,
                        animes: result
                    });
                });
        }
        render() {
            if (!this.state.isLoaded)
                return (
                    <div>loading...</div>
                )
            var content = this.state.animes.map(anime => {
                return (
                    <div class="cards">
                        <Image link={anime.image}></Image>
                        <div class="card-body">
                        </div>
                    </div>
                );
            })
            return (
                <div class="cards">
                    {content}
                </div>
            )
        }
    }
    ReactDOM.render(
        <AnimeCards></AnimeCards >,
        document.querySelector('.anime-content')
    )

</script>